/*
    Pierce Bennett	C00242526
    16/01/2022
    Project
*/
:root {
    --realBlue: #153383;
    --darkBlue: #7aa2bd;
    --lightBlue: #bce2f0;
    --otherBlue: #8fdaf5;
    --darkGreen: #2f975b;
    --light: #def3e6;
    --slate: #8e8d8a;
}
body {
    background-color:cornsilk;
    font-size: 1.3em;
    font-family: "Helvetica";
    position: relative;
    background-color: rgb(37, 74, 92);
}
/*--- navigation Section ---*/
nav {
    position:absolute;
    width: 100%;
    height: 100vh;
}
#navWrapper {
    position:absolute;
    height: 100%;
    width: 100%;
    right: 100%;
    text-align: center;
	background-color:var(--slate);
	opacity: 0;
    margin: auto;
    transition: all 300ms ease-in;
}
.show {
    opacity: .8 !important;
    right: 0% !important;
    z-index: 50 !important;
}
#hamburger {
    position: fixed;
    top: 2em;
    left: 2em;
    width: 3em;
    height: 3em;
    background-color: var(--light);
    border: .15em solid var(--realBlue);
    opacity: 1;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align:middle;
    z-index: 100;
    transition: all 3s ease-in-out;
}
/*--- Hamburger Lines ---*/
.bar {
    position: absolute;
    left: 12.5%;
    width: 75%;
    height: 10%;
    background: var(--darkBlue);
    display: inline-block;
    transition: all 1s ease;
}
#barOne {
    top: 20%;
}
#barTwo {
    top: 45%   
}
#barThree {
    top: 70%;
}
/*Styling when Menu is shown*/
.cross#barOne {
    top: 45%;
    transform: rotate(-45deg);
}
.cross#barTwo {
    opacity: 0;
}
.cross#barThree {
    top: 45%;
    transform: rotate(45deg);
}
/*--- Navigation Links ---*/
nav ul {
    position: relative;
    top: 10%;
    padding: .2em;
}
nav ul li {
    text-align: center;
    margin: auto;
    margin-bottom: .5em;
    width: 50%;
    height: 10%;
    text-transform: uppercase;
    background-color: var(--lightBlue);
    font-size:1.2em;
    border: .15em solid var(--realBlue);
}
nav ul li:hover{
	background-color: var(--otherBlue);
	cursor: pointer;
}
nav ul li a {
    display: block;
    padding: 1em;
    transition: all 1s ease-in-out;
	color: black;
}
#currentPage {
	background-image: linear-gradient(90deg, var(--otherBlue) 10%, var(--lightBlue) 11%);
}
/*--- Main Section ---*/
main {
    grid-area: main;
    transition: all 2s ease;
}
.hide {
    opacity: .1;
}
/*--- Form Section ---*/
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    box-sizing: border-box;
    padding: 1.5em;
    padding-bottom: .3em;
    width: 50%;
    height: 90vh;
    left: 20%;
    top: 1em;
    background-color: rgb(23, 51, 65);
}
h2 {
    margin: 0;
    padding: .4em;
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(153, 197, 186);
}
p {
    text-align: center;
}
aside {
    position:absolute;
    top: 50%;
    left:75%;
    width: 20%;
    padding-left: 3em;
    float: right;
    box-shadow: inset 5px 0 5px -5px #fc4444;
    font-style: italic;
    font-size: .5em;
    color: black;
}/*
.asideChecks {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
}
aside input[type=checkbox] {
    pointer-events: none;
    cursor: none;
    margin-top: 0.5em;
}*/
.inputbox {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr .9em 1fr;
    grid-template-areas:    ". . warningInfo ."
                            "label label input ."
                            ". . info .";
    width: 90%;
}
form label {
    grid-area: label;
    user-select: none;
    font-size: .7em;
}
.warningInfo {
    grid-area: warningInfo;
    font-size: .5em;
    color: red;
}
input{
    grid-area: input;
}
.extraInfo {
    grid-area: info;
    font-size: .5em;
}

.buttons {
    top: .5em;
    position: relative;
    left: 25%;
    width: 50%;
}
input[type=submit], input[type=reset] {
    /*display: inline-block;
    */
    width: 40%;
    padding: 8px 16px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: .5em;
    cursor: pointer;
    color: white;
}
input[type=submit] {
    background-color: rgb(35,120,35);
    box-shadow: 4px 8px 10px 1px rgba(35,120,35,0.6);
}
input[type=reset] {
    /*margin-left: 50%;
    */background-color: rgb(120,35,35);
    box-shadow: 4px 8px 10px 1px rgba(120,35,35,0.6);
}
input[disabled=true] {
    pointer-events: none;
    background-color: rgb(116, 153, 116);
    cursor: none;
}
::placeholder {
    font-style:italic;
}